/*Element*/
li {

}

/*class*/
.hello {

}

/*id*/
#name {

}

/*Star: Applies to everything*/ 
* {
	border: 1px solid lightgrey;
}

/*Descendant Selectors*/

li a{
	color: lightseagreen;
}

/*Adjacent Selectors*/

h4 + ul{
	border: 4px solid slateblue;
}

/*Attribute Selectors*/

a[href="http://www.google.com"] {
	background: hotpink;
}

/*nth of type*/

ul:nth-of-type(3){
	background: lightgreen;
}